<template>
  <div class="">
    <h1 class="">Hosts</h1>
    <hr />
    <p class="">
      Proyecto para obtener información relacionada con un dominio a traves de
      un API REST.
    </p>

    <router-link :to="{ name: 'home' }" class=""
      >Volver a la página de Inicio</router-link
    >
  </div>
</template>
