<template>
  <div class="">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
    ></loading>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-8">
        <div class="">
          <div class="card-body row no-gutters align-items-center">
            <div class="col">
              <input
                class="form-control form-control-lg form-control-borderless"
                placeholder="Digite un dominio: truora.com"
                v-model="hostName"
              />
            </div>
            <div class="col-auto">
              <input
                type="button"
                class="btn btn-lg btn-success"
                @click="redirectHost"
                value="Buscar"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-danger" v-show="!this.validate">
      <small>Digite un dominio válido</small>
    </div>
    <hr />
    <br />
    <div>
      <h4>Búsquedas Recientes</h4>
      <br />
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Dominio</th>
            <th scope="col">Título</th>
            <th scope="col">Grado SSL</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in items"
            v-bind:key="item.host"
            v-bind:class="{ 'table-danger': item.isDown }"
          >
            <td>{{ item.host }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.sslGrade }}</td>
            <td>
              <router-link
                :to="{ name: 'host', params: { id: item.host } }"
                class="mr-2"
                ><font-awesome-icon icon="eye"
              /></router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import api from '@/api'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
export default {
  name: 'Home',
  components: { Loading },
  data() {
    return {
      hostName: '',
      isLoading: false,
      fullPage: true,
      validate: true,
      items: []
    }
  },
  created() {
    this.isLoading = true
    api
      .getHosts()
      .then(items => (this.items = items))
      .finally(() => (this.isLoading = false))
  },
  methods: {
    validateHost() {
      this.validate = true
      if (this.hostName.length < 4) {
        this.validate = false
      }
    },
    redirectHost() {
      this.validateHost()
      if (this.validate) {
        this.$router.push({ name: 'host', params: { id: this.hostName } })
      }
    }
  }
}
</script>
