<template>
  <div class="row justify-content-center mt-2">
    <div class="justify-center">
      <loading
        :active.sync="isLoading"
        :can-cancel="false"
        :is-full-page="fullPage"
      ></loading>
    </div>
    <div class="card" v-if="!isLoading" style="width: 80%;">
      <div class="card-body">
        <h3 class="card-title">{{ host.host || '' }}</h3>
        <p class="card-text">Logo: {{ host.logo || '' }}</p>
        <p class="card-text">Título: {{ host.title || '' }}</p>
        <p class="card-text">Grado SSL: {{ host.sslGrade || '' }}</p>
        <p class="card-text">Grado SSL Previo: {{ host.sslGrade || '' }}</p>
        <p class="card-text">
          Cambio Servidores:
          {{ host.serversChanged == true ? 'Sí' : 'No' || '' }}
        </p>
        <div v-if="!host.isDown">
          <h4>Servidores</h4>
          <b-table
            striped
            hover
            :items="host.endpoints"
            :fields="fields"
            v-if="!isLoading"
          ></b-table>
        </div>
        <div v-else>
          <b-alert show variant="danger">{{
            host.status + ': ' + host.statusMessage || ''
          }}</b-alert>
        </div>

        <router-link :to="{ name: 'home' }" class="mr-2">>>Inicio</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
export default {
  name: 'Host',
  components: { Loading },
  data() {
    return {
      isLoading: false,
      fullPage: true,
      host: {},
      fields: [
        {
          key: 'ipAddress',
          label: 'IP',
          sortable: true
        },
        {
          key: 'serverName',
          label: 'Nombre',
          sortable: false
        },
        {
          key: 'grade',
          label: 'Grado',
          sortable: true,
          variant: 'success'
        },
        {
          key: 'country',
          label: 'País',
          sortable: true
        },
        {
          key: 'owner',
          label: 'Propietario',
          sortable: true
        }
      ]
    }
  },
  computed: {},
  methods: {},
  created() {
    const id = this.$route.params.id
    this.isLoading = true
    api
      .getHost(id)
      .then(host => (this.host = host))
      .finally(() => (this.isLoading = false))
  }
}
</script>
