<template>
  <header>
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <router-link :to="{ name: 'home' }" class="mr-2"
          ><b-icon icon="house-door-fill" font-scale="2" class="mr-2"></b-icon
        ></router-link>
        <router-link :to="{ name: 'home' }" class="mr-2">Inicio</router-link>
        <router-link :to="{ name: 'about' }" class="mr-2"
          >Acerca de</router-link
        >
      </b-navbar>
    </div>
  </header>
</template>

<script>
export default {
  name: 'PxHeader',
  components: {},
  props: {}
}
</script>

<style scoped>
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
</style>
